SUPABASE_URL=abcdefghijklmnopqrstuvwxyz.supabase.co
SUPABASE_SERVICE_ROLE_KEY=supabase_service_role_key
DATABASE_URL=postgresql://user:password@host:port/database
DB_CONN_LIMIT=10
JWT_SECRET=secret-key
PORT=3000
BACKEND_URL=http://localhost:3000